name: pmd-workflow
on: [push]
jobs:
  pmd:
    runs-on: ubuntu-latest
  

    steps:
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11
      - uses: gradle/gradle-build-action@v2
      - uses: actions/checkout@v3
      
      - name: pmd
        run: ./gradlew check
